body {
  background-color: white;
  height: 100%;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  color: black;
  text-align: center;

  font-family: myriad pro;
}
.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: linear-gradient(to right, rgba(234, 108, 47), rgb(252, 168, 67));
  justify-content: center !important;
  width: 100%;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  display: inline-block;

  line-height: inherit;
  margin-right: 5px;
}

.navbar-brand:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}

.nav-link {
  font-size: 20px;
  color: black !important;
}

.navbar-dark .navbar-toggler {
  color: black;
  border-color: black;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(list.svg);
}

.nav-link:hover {
  color: black !important;
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

.navbar-brand {
  color: rgb(252, 168, 67);
}

.fa {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}

.fa:hover {
  color: black;

  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}

.fa-facebook {
  color: black;
}

.fa-instagram {
  color: black;
}

.fa-twitter {
  color: black;
}

.media-buttons {
  text-align: center;
}

#signupform h1 {
  font-weight: 500;
  color: black;
  font-size: 30px;
}

.ck_logo {
  align-self: center;
  padding-top: 10px;
}

#signupform {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

#signupform .box {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;

  color: black;
  font-size: 18px;
  font-weight: 500;
  width: 500px;
  background: linear-gradient(to right, rgba(234, 108, 47), rgb(252, 168, 67));
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 100px;
  margin-top: 50px;
}

#signupform .box:hover {
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.mtop {
  margin-top: 0px;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

input,
select,
textarea {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
  margin-top: 18px;
  margin-bottom: 0.2rem;
}

.btn {
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background: linear-gradient(to bottom, rgba(234, 108, 47), rgb(252, 168, 67));
  width: 200px;
  align-self: center;
  margin-top: 10px;
}

.btn:hover {
  color: black;
  font-weight: bold;
  transform: scale(1.05);
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 991px) {
  .navbar {
    justify-content: space-between !important;
  }
}

@media screen and (max-width: 425px) {
  #signupform .box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
    padding: 30px;
    color: black;
    font-size: 18px;
    font-weight: 500;
    width: 300px;
    background: linear-gradient(
      to right,
      rgba(234, 108, 47),
      rgb(252, 168, 67)
    );
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 100px;
    margin-top: 50px;
  }
}
