body {
  margin: 0;
  font-family: "Jura", sans-serif;
  background-color: black;
  text-align: center;
}

.navbar {
  background-color: orange;
  border-bottom: black;
  border-style: solid;
  width: 100%;
}

.navbar-collapse {
  border-top: 1px solid black;
  margin-top: 5px;
}
.navbar-toggler {
  background-color: black;
  background-image: url("img/Citrus King.png");
  background-size: cover;
  background-position: center;
}

.nav-link {
  color: black;
  font-weight: bold;
}

.navbar-brand {
  color: orange;
}

#showcase h1 {
  font-size: 35px;
  padding-top: 40px;
  padding-bottom: 0px;
}

#showcase p {
  font-size: 15px;
}

#showcase {
  min-height: 250px;
  color: orange;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa {
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
  margin: 5px 2px;
}

.fa-facebook {
  background: orange;
  color: black;
}

.fa-instagram {
  background: orange;
  color: black;
}

.fa-twitter {
  background: orange;
  color: black;
}

.media-buttons {
  text-align: center;
}

#showcase .content-wrap {
  padding: 1em 1em 1em;
}

#signupform h1 {
  padding: 0em 1em 1em;
  font-family: "Jura", sans-serif;
  color: black;
  font-size: 30px;
}

#signupform {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

#signupform .box {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  color: black;
  width: 400px;
  background: orange;
  border-style: solid;
  border-color: black;
  border-width: thin;
  text-align: center;

  margin-bottom: 250px;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.btn {
  padding: 10px;
  color: orange;
  background-color: black;
  width: 200px;
  align-self: center;
  margin-top: 10px;
}

#main-footer {
  padding: 1em;
  background: orange;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: thin;
}

@media screen and (max-width: 425px) {
  #signupform .box {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 5px;
    color: black;
    width: 300px;
    background: orange;
    border-style: solid;
    border-color: black;
    border-width: thin;
    text-align: center;
  }
}
